In [9]:
a = 2
b = 2

a == b
a != b
a > b
a >= b
a <= b
a <= b

True

In [11]:
if a == b:
    print("Ya")

if a > b:
    print("a besar dari b")

if a >= b:
    print("a lebih besar atau sama dengan b")

Ya
a lebih besar atau sama dengan b

In [16]:
a = 2
b = 3
if a != b:
    print("Ya")
    print("a dan b sama")
else:
    print('jalankan else')


print("paling bawah")

Ya
a dan b sama
paling bawah

In [7]:
harga_buku = 15000
harga_majalah = 35000
uang = 15000

if uang > harga_majalah:
    print("uang kamu cukup untuk membeli majalah")
elif uang >= harga_buku:
    print("uang kamu cukup untuk membeli buku")
elif uang == harga_buku:
    print("uang kamu cukup untuk membeli buku, dan habis.")
# else:
#     print("uang kamu tidak cukup untuk berbelanja. nabung lagi ya")

uang kamu cukup untuk membeli buku

In [10]:
if 1 < 2:
    print('1 kecil dari 2')
if 2 == 1:
    print('2 sama dengan 1')
elif 1 < 2:
    print('1 kecil dari 2')

1 kecil dari 2
1 kecil dari 2

In [11]:
if 'a' in 'bara': print('ada');print('a');print('dalam');print('bara')

ada
a
dalam
bara

In [17]:
a

2

In [21]:
print("adik saya ada", a)

adik saya ada 2

In [23]:
raining = True
print("let's go to the", 'beach' if not raining else 'library')

let's go to the library

In [24]:
m = a if a > b else b
m

3

In [25]:
if True:
    pass
elif True:
    print('y')

print('foto')

foto

In [29]:
n = n -1
n += 1

In [32]:
n = 5
while n > 0:
    n -= 1

    if n == 2:
        continue

    print(n)
else:
    print('ada yang salah')

print('ini print di luar loop')

4
3
1
0
ada yang salah
ini print di luar loop

In [34]:
a = {'foo':1, 'bar':2, 'buzz':3}
# for i in a.values():
#     print(i)

a.items()

dict_items([('foo', 1), ('bar', 2), ('buzz', 3)])

In [35]:
print(type(range(5)))

<class 'range'>

In [36]:
#          start,stop,step
for i in range(20,1,-1):
    if i == 15:
        break
    print(i)
else:
    print('mantap')

20
19
18
17
16

In [37]:
a = 5
while a > 0:
    a -= 1
    if a == 2:
        break
    print(a)
else:
    print('selesai')

4
3

In [39]:
umur = input('berapa umur kamu?')
umur_int = int(umur)
print(umur_int + 2)

print('tipe data umur adalah', type(umur))
print('tipe data umur_int adalah', type(umur_int))

berapa umur kamu? 10

12
tipe data umur adalah <class 'str'>
tipe data umur_int adalah <class 'int'>

In [58]:
temp = input("ketikkan temperatur yang ingin dikonversi, eg. 45f, 120c: ")
degree = int (temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round ((9* degree) /5 + 32))
elif i_convertion == "F":
    result = int(round ((degree - 32) * 5/9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

ketikkan temperatur yang ingin dikonversi, eg. 45f, 120c:  100C

Temperaturnya adalah 212 derajat

In [51]:
temp = input("Ketikkan temperatur yang ingin dikonversi, contoh: 30F, 120C: ")
degree = int(temp[:-1])
i_konversi = temp[-1]

if i_konversi == "C":
    result = int(round((degree - 32) * 5 / 9))
    print("Suhu hasil konversi adalah", result, "derajat Celsius")
elif i_konversi == "F":
    result = int(round((9 * degree) / 5 + 32))
    print("Suhu hasil konversi adalah", result, "derajat Fahrenheit")
else:
    print("Masukkan input yang benar")

Ketikkan temperatur yang ingin dikonversi, contoh: 30F, 120C:  30F

Suhu hasil konversi adalah 86 derajat Fahrenheit

In [60]:
temp = input("Ketikkan temperatur yang ingin dikonversi, eg. 45f, 120c: ")
degree = int(temp[:-1])
i_conversion = temp[-1]
result = 0  # Inisialisasi result dengan nilai default

if i_conversion == "C":
    result = int(round((9 * degree) / 5 + 32))
    print(f"Suhu dalam Fahrenheit adalah {result} derajat Fahrenheit")
elif i_conversion == "F":
    result = int(round((degree - 32) * 5 / 9))
    print(f"Suhu dalam Celsius adalah {result} derajat Celsius")
else:
    print("Masukkan input yang benar")

# Mencetak jenis suhu (Celsius atau Fahrenheit)
if result != 0:
    print(f"Jenis suhu yang dikonversi adalah {i_conversion}")

Ketikkan temperatur yang ingin dikonversi, eg. 45f, 120c:  45F

Suhu dalam Celsius adalah 7 derajat Celsius
Jenis suhu yang dikonversi adalah F

In [62]:
while True:
    password = input('masukkan password kamu')

    if password == 'hactive8':
        break
    else:
        print('password yang kamu masukkan salah')

masukkan password kamu kamu

password yang kamu masukkan salah

masukkan password kamu hactive8